.row {
    margin: 2px 24px;
}

.col {
    background-color: #ffc107;
    border-radius: 12px;
    color: #000;
    font-weight: bold;
    padding: 8px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.col1 {
    background-color: #dfdbdb;
    border-radius: 12px;
    padding: 8px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media screen and (max-width: 768px) {
    .col {
        font-size: 16px;
    }

    .col1 {
        font-size: 12px;
    }
}

@media screen and (max-width: 456px) {
    .col {
        font-size: 10px;
    }

    .col1 {
        font-size: 12px;
    }
}